In [78]:
import  pandas as pd
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
import numpy as np

In [79]:
df = pd.read_csv('Customer.csv')

In [80]:
df.isnull().sum()

Customer ID                 0
Age                         0
Gender                      0
Item Purchased              0
Category                    0
Purchase Amount (USD)       0
Location                    0
Size                        0
Color                       0
Season                      0
Review Rating               0
Subscription Status         0
Payment Method              0
Shipping Type               0
Discount Applied            0
Promo Code Used             0
Previous Purchases          0
Preferred Payment Method    0
Frequency of Purchases      0
dtype: int64

In [81]:
count = df['Subscription Status'].value_counts()
count

Subscription Status
No     2847
Yes    1053
Name: count, dtype: int64

In [82]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

In [83]:

# Now, include these new columns in numerical_data and exclude 'order_date'
numerical_data = df.select_dtypes(exclude=['object']).drop(columns=['Customer ID'])

# Continue with the previous preprocessing steps
# Impute missing values for numerical columns

# Assuming categorical_data has been defined excluding 'order_date'
# For categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
categorical_data = df[categorical_cols]

print(numerical_data)
print(categorical_data)

      Age  Purchase Amount (USD)  Review Rating  Previous Purchases
0      55                     53            3.1                  14
1      19                     64            3.1                   2
2      50                     73            3.1                  23
3      21                     90            3.5                  49
4      45                     49            2.7                  31
...   ...                    ...            ...                 ...
3895   40                     28            4.2                  32
3896   52                     49            4.5                  41
3897   46                     33            2.9                  24
3898   44                     77            3.8                  24
3899   52                     81            3.1                  33

[3900 rows x 4 columns]
      Gender Item Purchased     Category       Location Size      Color  \
0       Male         Blouse     Clothing       Kentucky    L       Gray
1       Male        Sweater     Clothing          Maine    L     Maroon
2       Male          Jeans     Clothing  Massachusetts    S     Maroon
3       Male        Sandals     Footwear   Rhode Island    M     Maroon
4       Male         Blouse     Clothing         Oregon    M  Turquoise
...      ...            ...          ...            ...  ...        ...
3895  Female         Hoodie     Clothing       Virginia    L  Turquoise
3896  Female       Backpack  Accessories           Iowa    L      White
3897  Female           Belt  Accessories     New Jersey    L      Green
3898  Female          Shoes     Footwear      Minnesota    S      Brown
3899  Female        Handbag  Accessories     California    M      Beige

      Season Subscription Status Payment Method   Shipping Type  \
0     Winter                 Yes    Credit Card         Express
1     Winter                 Yes  Bank Transfer         Express
2     Spring                 Yes           Cash   Free Shipping
3     Spring                 Yes         PayPal    Next Day Air
4     Spring                 Yes           Cash   Free Shipping
...      ...                 ...            ...             ...
3895  Summer                  No           Cash  2-Day Shipping
3896  Spring                  No         PayPal    Store Pickup
3897  Spring                  No    Credit Card        Standard
3898  Summer                  No         PayPal         Express
3899  Spring                  No  Bank Transfer    Store Pickup

     Discount Applied Promo Code Used Preferred Payment Method  \
0                 Yes             Yes                    Venmo
1                 Yes             Yes                     Cash
2                 Yes             Yes              Credit Card
3                 Yes             Yes                   PayPal
4                 Yes             Yes                   PayPal
...               ...             ...                      ...
3895               No              No                    Venmo
3896               No              No            Bank Transfer
3897               No              No                    Venmo
3898               No              No                    Venmo
3899               No              No                    Venmo

     Frequency of Purchases
0               Fortnightly
1               Fortnightly
2                    Weekly
3                    Weekly
4                  Annually
...                     ...
3895                 Weekly
3896              Bi-Weekly
3897              Quarterly
3898                 Weekly
3899              Quarterly

[3900 rows x 14 columns]

In [84]:


# Scale numerical features
scaler = StandardScaler()
numerical_data_scaled = scaler.fit_transform(numerical_data)

numerical_data_scaled = pd.DataFrame(numerical_data_scaled, columns=numerical_data.columns)
numerical_data_scaled

           Age  Purchase Amount (USD)  Review Rating  Previous Purchases
0     0.718913              -0.285629      -0.907584           -0.785831
1    -1.648629               0.178852      -0.907584           -1.616552
2     0.390088               0.558882      -0.907584           -0.162789
3    -1.517099               1.276716      -0.349027            1.637107
4     0.061263              -0.454531      -1.466141            0.391025
...        ...                    ...            ...                 ...
3895 -0.267563              -1.341267       0.628448            0.460252
3896  0.521618              -0.454531       1.047366            1.083293
3897  0.127028              -1.130139      -1.186862           -0.093563
3898 -0.004502               0.727784       0.069891           -0.093563
3899  0.521618               0.896686      -0.907584            0.529479

[3900 rows x 4 columns]

In [88]:

categorical_data_encoded = pd.get_dummies(categorical_data, drop_first=True)
categorical_data_encoded

,Gender_Male,Item Purchased_Belt,Item Purchased_Blouse,Item Purchased_Boots,Item Purchased_Coat,Item Purchased_Dress,Item Purchased_Gloves,Item Purchased_Handbag,Item Purchased_Hat,Item Purchased_Hoodie,...,Preferred Payment Method_Credit Card,Preferred Payment Method_Debit Card,Preferred Payment Method_PayPal,Preferred Payment Method_Venmo,Frequency of Purchases_Bi-Weekly,Frequency of Purchases_Every 3 Months,Frequency of Purchases_Fortnightly,Frequency of Purchases_Monthly,Frequency of Purchases_Quarterly,Frequency of Purchases_Weekly
0,True,False,True,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
3,True,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
4,True,False,True,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,True
3896,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3897,False,True,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
3898,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
3899,False,False,False,False,False,False,False,True,False,False,...,False,False,False,True,False,False,False,False,True,False

In [95]:


# Concatenate processed numerical and categorical data
processed_data = np.concatenate([numerical_data_scaled, categorical_data_encoded], axis=1)

# Display the shape of the processed data to confirm transformation
processed_data_shape = processed_data.shape
# First, let's reconstruct the column names for the processed data
# For numerical features, we use the original names
numerical_features = numerical_data.columns.tolist()

# For categorical features, we need to get the new column names from the encoder
categorical_features = categorical_data_encoded.columns.tolist()

# Combine all feature names
all_features = numerical_features + list(categorical_features)

# Convert the processed data into a DataFrame
processed_data_df = pd.DataFrame(processed_data, columns=all_features)

# Display the first few rows of the DataFrame to confirm
processed_data_df

,Age,Purchase Amount (USD),Review Rating,Previous Purchases,Gender_Male,Item Purchased_Belt,Item Purchased_Blouse,Item Purchased_Boots,Item Purchased_Coat,Item Purchased_Dress,...,Preferred Payment Method_Credit Card,Preferred Payment Method_Debit Card,Preferred Payment Method_PayPal,Preferred Payment Method_Venmo,Frequency of Purchases_Bi-Weekly,Frequency of Purchases_Every 3 Months,Frequency of Purchases_Fortnightly,Frequency of Purchases_Monthly,Frequency of Purchases_Quarterly,Frequency of Purchases_Weekly
0,0.718913,-0.285629,-0.907584,-0.785831,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,-1.648629,0.178852,-0.907584,-1.616552,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.390088,0.558882,-0.907584,-0.162789,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,-1.517099,1.276716,-0.349027,1.637107,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.061263,-0.454531,-1.466141,0.391025,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,-0.267563,-1.341267,0.628448,0.460252,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3896,0.521618,-0.454531,1.047366,1.083293,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3897,0.127028,-1.130139,-1.186862,-0.093563,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3898,-0.004502,0.727784,0.069891,-0.093563,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3899,0.521618,0.896686,-0.907584,0.529479,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
pd.to_csv('processed_data.csv', index=False)